body{
    background-image: linear-gradient(to right top, #89f3f9, #46c4e1, #0094c6, #0065a5, #02377c);
    background-attachment: fixed;
}

.principal{
    color: white;
}
.titulo{
    text-align: center;
}

/* Para los botones */
.btn{
    background-color: #005fdb;
    color: white;
    border-color: #005fdb;
    border-radius: 2em;
}

.btn:hover{
    background-color: #02377c;
    border-color: #02377c;
    color: white;
    transform: scale(1.1);
    transition: 0.2s;
}

.btn:active{
    transform: scale(0.9);
    transition: background-color 0.25s, transform 0.1s;
}

/* Para cards */
.card{
    text-align: center;
    border-radius: 2em;
    box-shadow: 0 5px 15px rgba(0,0,0,.4);
}

.card-header{
    background-color: transparent;
}

/* card dentro de pago.html */
.cardPagoExterna{
    text-align: left;
    border-radius: 2em;
    box-shadow: 0 5px 15px rgba(0,0,0,.4);
}

.cardPagoInterna{
    text-align: left;
    border-radius: 2em;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    background-color: #eaedf3; 
    color: black;
}