<!DOCTYPE html>
<html lang="en">

<head>
    <title>milkStgo</title>
    <!-- Importacion bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css">

    <!-- Importacion archivo css -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/navbar.css" th:href="@{/css/navbar.css}">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

    <nav class="navbar">
        <div class="nav-item">
            <a href="/">Menú Principal</a>
        </div>
        <div class="nav-item">
            <a href="/proveedores">Proveedores</a>
        </div>
        <div class="nav-item">
            <a href="/"><strong>milkStgo</strong></a>
        </div>
        <div class="nav-item">
            <a href="/archivos">Subir Archivos</a>
        </div>
        <th:block th:if="${!planillas.isEmpty()}">
            <div class="nav-item">
                <a href="/planilla">Ver Pagos</a>
            </div>
        </th:block>
    </nav>

    <div class="container principal my-5">
        <div class="row">
            <div class="col">
                <h1 class="titulo mb-5"><b>Menú Principal</b></h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-5">
                    <div class="card border-black">
                        <div class="card-header border-black">
                            Proveedores
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Ingresa y visualiza los proveedores</h5>
                            <p class="card-text">Revisa quienes son los proveedores actuales de milkStgo</p>
                            <a href="/proveedores"><button class="btn">Acceder</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="card border-black">
                        <div class="card-header border-black">
                            Subida de Archivos
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Carga los datos y el acopio</h5>
                            <p class="card-text">Ingresa los archivos .csv con los datos correspondientes</p>
                            <a href="/archivos"><button class="btn">Acceder</button></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row my-4 justify-content-center">
                <div class="col-5">
                    <div class="card border-black">
                        <div class="card-header border-black">
                            Pagos
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Genera los pagos y visualiza la planilla</h5>
                            <p class="card-text">Procura ingresar los archivos .csv antes!</p>

                            <th:block th:if="${!acopios.isEmpty() and !datos.isEmpty()}">
                                <form th:action="@{/crearPlanilla}" method="POST">
                                    <button class="btn" type="submit">Generar Pagos</button>
                                </form>
                            </th:block>


                            <th:block th:if="${!planillas.isEmpty()}">
                                <a href="/planilla"><button class="btn mt-1">Mostrar Datos Planilla</button></a>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>