<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- importacion bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css">
        <title>milkStgo</title>
    </head>

    <body>

        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">milkStgo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="/">Menú</a>
                        <a class="nav-link" href="#">Proveedores</a>
                        <a class="nav-link" href="#">Importacion acopio</a>
                        <a class="nav-link" href="#">Importacion valores</a>
                        <a class="nav-link" href="#">Planilla de pagos</a>
                    </div>
                </div>
            </div>
        </nav>


        <div class="container my-5">
            <div class="row">
                <!-- Tarjeta para el menu de proveedores -->
                <div class="card col-sm-2 col-md-3 mx-3" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Proveedores</h5>
                        <p class="card-text">Ingresa y visualiza los proveedores ya existentes</p>
                    </div>
                </div>
                <!-- Tarjeta para el menu de acopio -->
                <div class="card col-md-3 mx-3" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Acopio de Leche</h5>
                        <p class="card-text">Ingresa un acopio de Leche</p>
                    </div>
                </div>
                <!-- Tarjeta para el menu de importacion valores grasa y solidos -->
                <div class="card col-md-3 mx-3" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Importacion de Valores</h5>
                        <p class="card-text">Ingresa el archivo con el porcentaje de grasa y solidos totales en la leche</p>
                    </div>
                </div>
                <!-- Tarjeta para el menu de planilla de pagos -->
                <div class="card col-md-3 mx-3" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Planilla de Pagos</h5>
                        <p class="card-text">Crea la planilla de pagos y visualizala</p>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>