<!DOCTYPE html>
<html lang="en">
<head>
    <!-- importacion bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css">
    <title>milkStgo</title>
    <style>
        body{
            background: #36d1dc; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #36d1dc, #5b86e5); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #36d1dc, #5b86e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        .letra{
            color: #ffffff;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">milkStgo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link letra" aria-current="page" href="/">Menú</a>
            </div>
        </div>
    </div>
</nav>

<div class="container my-5">
    <div class="card px-3 py-3">
        <h3 class="text-center">Datos sobre la Leche</h3>

        <!-- Ver si la base de datos esta vacia o no -->
        <th:block th:if="${pagos.isEmpty()}">
            <div class="container text-center">
                <h5 class="my-1"><b>No se encuentran pagos!</b></h5>
                <a class="btn btn-info letra my-2" href="/crearPlanilla" role="button"><b>Acceder a Pagos</b></a>
            </div>
        </th:block>
        <!-- Caso contrario, se encuentran datos -->

        <th:block th:if="${not pagos.isEmpty()}">
            </br>
            <div class="container">

                <tr th:each="pago : ${pagos}">
                    <div class="card border-black">
                        <div class="card-body">
                            <h5>Pago número <b th:text="${pago.idPago}"></b></h5>
                            <h5>Fecha del pago: <b th:text="${#dates.format(pago.fecha, 'dd-MM-yyyy')}"></b> </br></h5>
                            <div class="row">
                                <div class="col">
                                    <div class="card h-100 border-black">
                                        <div class="card-body">
                                            Proveedor : <b th:text="${pago.nombre}"></b> </br>
                                            Codigo : <b th:text="${pago.codigo}"></b> </br>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col">
                                    <div class="card h-100 border-black">
                                        <div class="card-body">
                                            Kilos de Leche totales : <b th:text="${pago.totalKlsLeche}"></b> </br>
                                            Frecuencia de entrega : <b th:text="${pago.frecuencia}"></b> </br>
                                            Promedio diario de kilos : <b th:text="${pago.promedioDiarioKls}"></b> </br>
                                            Bonificacion por frecuencia : <b>$</b><b th:text="${pago.bonoFrecuencia}"></b> </br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </br>
                            <div class="row">
                                <div class="col">
                                    <div class="card h-100 border-black">
                                        <div class="card-body">
                                            Porcentaje de variacion negativa de leche : <b th:text="${pago.porVariacionLeche}">%</b> </br>
                                            Descuento por variacion negativa de leche: <b>$</b><b th:text="${pago.dctoVariacionLeche}"></b> </br>
                                            Porcentaje de variacion negativa de grasa : <b th:text="${pago.porGrasa}">%</b> </br>
                                            Descuento por variacion negativa de grasa : <b>$</b><b th:text="${pago.dctoVariacionGrasa}"></b> </br>
                                            Porcentaje de variacion negativa de solidos totales : <b th:text="${pago.porSolidos}">%</b> </br>
                                            Descuento por variacion negativa de solidos totales : <b>$</b><b th:text="${pago.dctoVariacionSolidos}"></b> </br>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col">
                                    <div class="card h-100 border-black">
                                        <div class="card-body">
                                            Monto Retenido : <b>$</b><b th:text="${pago.montoRetencion}"></b> </br>
                                            Pago Total : <b>$</b><b th:text="${pago.pagoTotal}"></b> </br>
                                            Pago Final : <b>$</b><b th:text="${pago.pagoFinal}"></b> </br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </br>  
                </tr>

            </div>
            </br>
        </th:block>

    </div>
</div>

</body>
</html>